.body{
    background-color: yellow;
}
.container{
   
}
 
 
 .card{
    background-color: rgb(133, 129, 116);
    height: 45px;
     width: 150px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border: 1px solid white;
     cursor: pointer;
     border-radius: 10%;
     transition: transform 0.8s ease;
 }
 .card:hover{
    transform: scale(1.1); /* Zoom effect */
    box-shadow: 0 4px 18px rgba(48, 228, 12, 0.61); /* Backdrop shadow */
 }
 .maintable{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
 .tab{
    margin-top: -25px;
 }
  .name{
    margin-top: 5px;
  }
 @media (max-width: 768px) {
    .maintable{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

 }
 
 
 
 